In [1]:
%config IPCompleter.greedy=True

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [126]:
s2_data = pd.read_csv("scenario2_tests.csv")
s2_data

           n  slots
0        100      3
1        100      6
2        100      1
3        100      6
4        100      1
...      ...    ...
99995  10000      1
99996  10000      5
99997  10000      2
99998  10000      1
99999  10000      1

[100000 rows x 2 columns]

In [127]:
s3_data = pd.read_csv("scenario3_tests.csv")
s3_data

           u     n  slots  rounds
0        100     2      1       1
1        100     2      1       1
2        100     2      1       1
3        100     2      1       1
4        100     2      1       1
...      ...   ...    ...     ...
146995  4900  4900     12       1
146996  4900  4900     11       1
146997  4900  4900     12       1
146998  4900  4900     11       3
146999  4900  4900     12       1

[147000 rows x 4 columns]

# Exercise 2

In [131]:
s3_summary = s3_data[0:3000].groupby(['u', 'n', 'slots']).agg(['count'])
s3_summary

              rounds
               count
u   n   slots
100 2   1        621
        2        232
        3         77
        4         37
        5         20
        6          9
        7          4
    50  3         13
        4        194
        5        374
        6        287
        7        132
    100 4         18
        5        217
        6        430
        7        335