In [46]:
%config IPCompleter.greedy=True

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
data_5b = pd.read_csv('data/5b.csv')

In [49]:
data_5b['estimated/n'] = data_5b['estimated'] / data_5b['n']
data_5b

         k      n  expected  estimated  estimated/n
0        2      1         1          1     1.000000
1        2      2         2          2     1.000000
2        2      3         3          1     0.333333
3        2      4         4          5     1.250000
4        2      5         5          3     0.600000
...    ...    ...       ...        ...          ...
49995  400   9996      6358       2970     0.297119
49996  400   9997      6358       3092     0.309293
49997  400   9998      6396       3168     0.316863
49998  400   9999      6343       3133     0.313331
49999  400  10000      6316       2830     0.283000

[50000 rows x 5 columns]

In [52]:
x = np.linspace(1, 10000, 10000)